div {
    padding-top: 10px;
}
.dezenas {
    padding: 5px;
    width: 50px;
}
#betaSign {
    margin-left: -3px;
    margin-top:25px;
    font-size: 0.5em!important;
}
#banner_horizontal {
    display: block;
}
.banner_vertical {
    display: none;
}
@media screen and (max-width: 785px) {
    #banner_horizontal {display: none;}
    .banner_vertical {display: block;}
}